@use '@/theme';

.category-display {
  display: flex;
  height: 10em;
}
.tree-branch-lines {
  line-height: 1.5;
  padding: 0.25rem 0;
  > div {
    padding: 0.25rem 0;
  }
}
.category-level {
  line-height: 1.5;
  overflow-y: auto;
  padding: 0.25rem 0;
  transition: width theme.$transitions;
  width: fit-content;

  &.current {
    color: theme.$link;
    display: flex;
    flex-direction: column;
  }

  &.parent {
    .selected {
      color: theme.$accent;
      text-decoration: underline;
    }

    &:hover {
      color: theme.$link;
    }
  }

  .category-choice {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    &.selected .category-name {
      color: theme.$accent;
      text-decoration: underline;
    }
  }
  .category-name {
    flex-grow: 1;
    text-align: left;

    &:hover, .selected & {
      color: theme.$accent;
    }
  }

  .child-link {
    padding: 0.25em 1em;
    transition: padding theme.$transitions-quick;
    &:hover {
      padding: 0.25em 0 0.25em 2em;
    }
  }
}
