@use '@/theme';

.category-display {
  display: flex;
  gap: 6px;
  height: 8em;
}

.category-level {
  overflow-y: auto;

  .grandparent {
    padding: 0.5em 0;
    color: theme.$text-faded;
  }
  &.collapsed {
    font-size: 14px;
  }
}
