@import 'theme';
@import 'splash';
@import 'menu';

body {
  font-family: "Elliot Sans", sans-serif;

  color: $theme-light;
}

::selection {
  color: $theme-light;
  background-color: $theme-med;
}

a {
  color: $link;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: $white;
}

.small {
  font-size: 0.75rem;
}

.link {
  background: none;
  border: none;
  color: $link;
}
