@import 'theme';

body {
  padding: 2rem;
  font-family: "Elliot Sans", sans-serif;

  // &.theme-light {}
  background-color: $black;
  color: $theme-light;
}

::selection {
  color: $theme-med;
  background-color: $theme-dark;
}

a {
  color: $theme-med;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: $white;
}

.small {
  font-size: 0.75rem;
}

#splash {
  text-align: center;
}

#splash .logo {
  width: 35vw;
}
