$black: #131311;
$white: #EBEEED;
$theme-dark: #2F3425;
$theme-med: #333B3D;
$theme-light: #676F62;
$theme2-light: #C9DCC1;
$theme2-med: #9CB598;
$theme2-dark: #395330;
$accent: #FFDF00;
$accent2: #E4EED6;
$error: #ED481B;

$bg: $theme-dark;
$link: $theme2-med;
$link-hover: $theme2-light;

:export {
  bg: $bg;
}

@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Bold.ttf");
  font-weight: 700;
}
