// Base Colors
$black: #131311;
$white: #EBEEED;
$dark: #1D2519;

$grn-dark: #2F3425;
$grn-med: #333B3D;
$grn-light: #676F62;
$grn2-light: #C9DCC1;
$grn2-med: #9CB598;
$grn2-dark: #395330;

$red: #8C1E2F;
$red-dark: #5C353B;
$accent: #FFDF00;
$accent2: #E4EED6;
$error: #ED481B;

// Context-Named Colors
$bg: $dark;
$text: $grn2-med;
$text-faded: $grn-light;
$link: $grn2-light;
$link-hover: $accent2;

// Fonts
$text-med: 16px;
$text-xmed: 18px;

// Animations
$transition-duration: 0.5s;
$transition-duration-quick: 0.2s;
$transition-function: ease-out;

$transitions: $transition-duration $transition-function;
$transitions-quick: $transition-duration-quick $transition-function;
