// Base Colors
$black: #131311;
$white: #EBEEED;
$dark: #1D2519;

$grn-xlight: #C9DCC1;
$grn-light: #9CB598;
$grn-med: #6A8464;
$grn-dark: #395330;

$moss-xlight: #E4EED6;
$moss-light: #676F62;
$moss-med: #333B3D;
$moss-dark: #2F3425;

$golden: #FFDF00;
$red-light: #ED481B;
$red-med: #87323F;
$red-dark: #470711;

// Context-Named Colors
$bg: $dark;
$modal-bg: $grn-dark;
$text: $grn-light;
$text-highlight: $moss-xlight;
$selection: $moss-light;
$accent: $golden;
$danger: $red-dark;
$icons: $grn-dark;
$link: $grn-xlight;
$link-hover: $moss-xlight;
$forms-bg: $grn-xlight;
$forms-main: $grn-dark;
$forms-secondary: $grn-med;
$forms-border: $black;

// Fonts
$text-med: 1rem;
$text-xmed: 1.25rem;

// Standardized Numbers
$border-radius: 0.5rem;

// Transformations
$trans-zoom: scale(calc(17/16));

// Transitions
$transition-duration: 0.5s;
$transition-duration-quick: 0.2s;
$transition-function: ease-out;

$transitions: $transition-duration $transition-function;
$transitions-quick: $transition-duration-quick $transition-function;

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$anim-fade-in: fadeIn $transitions forwards;
$anim-fade-out: fadeIn $transitions backwards;
