$black: #131311;
$white: #EBEEED;
$dark: #1D2519;
$grn-dark: #2F3425;
$grn-med: #333B3D;
$grn-light: #676F62;
$grn2-light: #C9DCC1;
$grn2-med: #9CB598;
$grn2-dark: #395330;
$accent: #FFDF00;
$accent2: #E4EED6;
$error: #ED481B;

$bg: $dark;
$text: $grn2-med;
$text-faded: $grn-light;
$link: $grn2-light;
$link-hover: $accent2;

$transitions: 0.5s ease-in-out;
$transitions-quick: 0.25s ease-out;
