// Base Colors
$black: #131311;
$white: #EBEEED;
$dark: #1D2519;

$grn-light: #C9DCC1;
$grn-med: #9CB598;
$grn-dark: #395330;

$moss-light: #676F62;
$moss-med: #333B3D;
$moss-dark: #2F3425;

$accent: #FFDF00;
$accent2: #E4EED6;
$red: #8C1E2F;
$red-dark: #5C353B;
$red-bright: #ED481B;

// Context-Named Colors
$bg: $dark;
$modal-bg: $grn-dark;
$text: $grn-med;
$text-faded: $moss-light;
$icons: $moss-med;
$link: $grn-light;
$link-hover: $accent2;
$forms-bg: $white;
$forms-main: $grn-light;
$forms-secondary: $grn-dark;
$forms-border: $moss-dark;

// Fonts
$text-med: 1rem;
$text-xmed: 1.25rem;

// Standardized Numbers
$border-radius: 6px;

// Transformations
$trans-zoom: scale(calc(17/16));

// Animations
$transition-duration: 0.5s;
$transition-duration-quick: 0.2s;
$transition-function: ease-out;

$transitions: $transition-duration $transition-function;
$transitions-quick: $transition-duration-quick $transition-function;
