@use 'theme';

@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Bold.ttf");
  font-weight: 700;
}


body {
  font-family: "Elliot Sans", sans-serif;
  color: theme.$text;
  font-size: 16px;
  margin: 0;
  padding: 1rem;
}

::selection {
  color: theme.$grn2-light;
  background-color: theme.$grn-light;
}

h2 {
  margin: 1rem 0;
}
h3 {
  margin: 0.5rem 0 0.25rem;
}
h4 {
  margin: 0.25rem 0 0;
}

ul {
  margin: 0;
  padding-inline-start: 1em;
}
li::marker {
  content: "¢";
  font-weight: bold;
}

a {
  color: theme.$link;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: theme.$white;
}

button {
  border-radius: 4px;
  border: 1px solid theme.$grn-dark;
  background-color: theme.$grn2-light;
  color: theme.$grn-dark;
  padding: 0.5em 1em;
  font-family: "Elliot Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

input, select {
  border-radius: 4px;
  border: 2px solid theme.$grn-med;
  background-color: theme.$white;
  color: theme.$bg;
  padding: 0.5em;
  font-family: "Elliot Sans", sans-serif;
  font-weight: 500;
}

.small {
  font-size: 0.75rem;
}
