@use 'theme';

// Fonts
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Bold.ttf");
  font-weight: 700;
}

// General Theming
html {
  height: 100vh;
  scrollbar-color: theme.$grn-dark theme.$black;
}
header {
  padding: 0 1rem;
}
body {
  font-family: "Elliot Sans", sans-serif;
  color: theme.$text;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

main {
  padding: 0 1rem 1rem;
}

::selection {
  color: theme.$text-highlight;
  background-color: theme.$selection;
}

dialog {
  background-color: theme.$modal-bg;
  border: 4px solid theme.$black;
  border-radius: theme.$border-radius * 2;
  box-shadow: 0 2px 10px theme.$bg;
  color: theme.$text;
  padding: 2rem;

  &::backdrop {
    background-color: rgba(theme.$bg, 0.5);
  }
}

p {
  margin: 0.5rem 0;
}

// Headers
h1 {
  margin: 0.5rem 0 1rem;
}
h2 {
  margin: 0.5rem 0;
}
h3 {
  margin: 0.5rem 0;
}
h4 {
  margin: 0.25rem 0;
}
h5 {
  font-size: 1em;
  margin: 0;
}
h6 {
  font-size: 0.875em;
  margin: 0;
}

// Links
a {
  color: theme.$link;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: theme.$link-hover;
}

// Form Fields
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0.5em;
}

button, .button {
  border-radius: theme.$border-radius;
  border: 2px solid theme.$forms-border;
  background-color: theme.$forms-main;
  color: theme.$forms-border;
  font-family: "Elliot Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5em 1em;
  transition-duration: theme.$transition-duration-quick;
  transition-timing-function: theme.$transition-function;
  transition-property: color, background-color, border-color, transform;

  &:disabled {
    opacity: 0.5;
  }
  &:not(:disabled) {
    cursor: pointer;

    &:focus, &:hover {
      background-color: theme.$forms-secondary;
      transform: theme.$trans-zoom;
    }
  }

  // Themes
  &.light {
    background-color: theme.$forms-secondary;
    color: theme.$bg;
    border-color: theme.$bg;

    &:focus, &:hover {
      background-color: theme.$forms-bg;
    }
  }

  &.unstyled {
    background-color: transparent;
    border: none;
    color: currentColor;
    font-weight: normal;
    padding: 0.25em 0;

    &:focus, &:hover {
      background-color: transparent;
    }
  }   
}

input, select {
  border-radius: theme.$border-radius;
  border: 2px solid theme.$forms-border;
  background-color: theme.$forms-bg;
  color: theme.$bg;
  padding: 0.5em;
  font-family: "Elliot Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
// Checkbox and radio inputs use positioning to hide instead of display:none so its element can stay interactable
input[type="checkbox"], input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;

  + label {
    align-items: end;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
    transition: color theme.$transitions-quick;

    &:focus, &:hover {
      cursor: pointer;
      color: theme.$link;
    }

    &::before {
      content: "";
      background-color: theme.$forms-bg;
      border: 2px solid theme.$forms-border;
      color: theme.$forms-border;
      display: inline-block;
      font-size: 1.5rem;
      font-weight: bold;
      height: 1rem;
      line-height: 1rem;
      width: 1rem;
    }
  }

  &:focus + label {
    outline: -webkit-focus-ring-color auto 1px;
    color: theme.$link;
  }
}

input[type="checkbox"] {
  + label {
    &::before {
      border-radius: theme.$border-radius;
    }
  }
  &:checked + label {
    &::before {
      content: "\2713";
    }
  }
}
input[type="radio"] {
  + label {
    &::before {
      border-radius: 50%;
      font-size: 1.625rem;
    }
  }
  &:checked + label {
    &::before {
      content: "\25CF";
    }
  }
}
// File input should use a label as its clickable area for styling
input[type="file"] {
  display: none;

  &:focus + label {
    outline: 2px solid theme.$accent;
    transform: theme.$trans-zoom;
  }
}

// Text & Color
.danger {
  color: theme.$danger;
  border-color: theme.$danger;
}
.border-danger {
  border-color: theme.$danger;
}
.text-danger {
  color: theme.$danger;
}
.border-accent {
  border-color: theme.$accent;
}
.text-accent {
  color: theme.$accent;
}
.text-s {
  font-size: 0.75rem;
}
.text-l {
  font-size: 1.5rem;
}
.text-xl {
  font-size: 2rem;
}

// Lists
ul {
  margin: 0;
  padding-inline-start: 1rem;

  li {
    padding-left: 0.75rem;
  }
  li::marker {
    content: "¢";
    font-weight: bold;
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.narrow {
    gap: 0.5rem;
  }
}

// Flexing
.grid {
  display: grid;
  gap: 1rem;

  &.cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}
.flex {
  display: flex;
}
.flex-even {
  flex: 1;
}
.row {
  flex-direction: row;
}
.align-center {
  align-items: center;
}
.gap-s {
  gap: 0.5rem;
}
.gap-m {
  gap: 1rem;
}

// Sizing
.width-fit {
  width: fit-content;
}
.width-s {
  width: 10rem;
}
.width-m {
  width: 20rem;
}
.width-l {
  width: 40rem;
}

// Spacing
.block {
  display: block;
}
.margin-y {
  margin: 0.5rem 0;
}
.pad-s {
  padding: 0.5rem;
}
.pad-bottom {
  padding-bottom: 1rem;
}
.pad-no {
  padding: 0;
}
