@use 'theme';

@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("../assets/elliot_sans/ElliotSans-Bold.ttf");
  font-weight: 700;
}

html {
  scrollbar-color: theme.$grn2-dark theme.$black;
}

header {
  padding: 0 1rem;
}
body {
  font-family: "Elliot Sans", sans-serif;
  color: theme.$text;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

main {
  padding: 0 1rem 1rem;
}

::selection {
  color: theme.$grn2-light;
  background-color: theme.$grn-light;
}

dialog {
  background-color: theme.$grn2-dark;
  border: 4px solid theme.$black;
  border-radius: 10px;
  box-shadow: 0 2px 10px theme.$bg;
  color: theme.$text;
}

h2 {
  margin: 0.5rem 0 1rem;
}
h3 {
  margin: 0.5rem 0 0.25rem;
}
h4 {
  margin: 0.25rem 0;
}

ul {
  margin: 0;
  padding-inline-start: 1em;

  li {
    padding-left: 0.5em;
  }
  li::marker {
    content: "¢";
    font-weight: bold;
  }
}

a {
  color: theme.$link;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: theme.$white;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

button, .button {
  border-radius: 6px;
  border: 2px solid theme.$grn-dark;
  background-color: theme.$grn2-light;
  color: theme.$grn-dark;
  font-family: "Elliot Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5em 1em;
  transition-duration: theme.$transition-duration-quick;
  transition-timing-function: theme.$transition-function;
  transition-property: color, background-color, border-color;

  &:disabled {
    opacity: 0.5;
  }
  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus, &:hover {
    border-color: theme.$grn-med;
  }

  &.unstyled {
    background-color: transparent;
    border: none;
    color: currentColor;
    font-weight: normal;
    padding: 0.25em 0;
  }
}

input, select {
  border-radius: 4px;
  border: 2px solid theme.$grn-med;
  background-color: theme.$white;
  color: theme.$bg;
  padding: 0.5em;
  font-family: "Elliot Sans", sans-serif;
  font-weight: 500;
}
input[type="file"] {
  display: none;
}

.text-accent {
  color: theme.$accent;
}
.text-s {
  font-size: 0.75rem;
}
.text-l {
  font-size: 1.5rem;
}
.text-xl {
  font-size: 2rem;
}


.grid {
  display: grid;
  gap: 1rem;

  &.cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.flex {
  display: flex;
}
.flex-even {
  flex: 1;
}
.align-center {
  align-items: center;
}
.gap-s {
  gap: 0.5rem;
}

.width-fit {
  width: fit-content;
}
.width-s {
  width: 10rem;
}
.width-m {
  width: 20rem;
}
.width-l {
  width: 40rem;
}
.padding-s {
  padding: 0.5em;
}
.no-padding {
  padding: 0;
}
