@use '@/theme';

.link {
  background: none;
  border: none;
  color: theme.$link;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;

  &.back-to-menu {
    padding-left: 0;
  }

  &:focus {
    outline: none;
  }

  &:hover, &:focus {
    color: theme.$link-hover;
  }

}
