@use '@/theme';

.link {
  color: theme.$link;

  &.back-to-menu {
    padding-left: 0;
  }

  &:focus {
    outline: none;
  }

  &:hover, &:focus {
    color: theme.$link-hover;
  }

}
